[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "knitrBootstrap"]
	path = knitrBootstrap
	url = https://github.com/jimhester/knitrbootstrap
[submodule "types"]
	path = types
	url = https://github.com/jimhester/types
