[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "knitrBootstrap"]
	path = knitrBootstrap
	url = https://github.com/jimhester/knitrbootstrap
	shallow = true
	registered = true
	oncran = true
[submodule "lintr"]
	path = lintr
	url = https://github.com/jimhester/lintr
	shallow = true
	registered = true
	oncran = true
